<section class="max-w-[88rem] py-12">
  <div class="container mx-auto px-4">
    <div class="-mx-4 flex flex-wrap gap-10">
      <div
        class="group relative overflow-hidden rounded-lg px-6 pb-8 pt-10 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:rounded-lg sm:px-10"
      >
        <span
          class="absolute top-10 z-0 h-20 w-20 rounded-full bg-primary transition-all duration-300 group-hover:scale-[15]"
        ></span>
        <div class="relative z-10 mx-auto max-w-md">
          <span
            class="grid h-20 w-20 place-items-center rounded-full bg-primary transition-all duration-300 group-hover:bg-primary"
          >
            <span class="h-20 w-20 text-white transition-all">📍</span>
          </span>
          <h2
            class="mt-5 font-bold transition-all duration-300 text-2xl group-hover:text-dark"
          >
            What3Words
          </h2>
          <div
            class="space-y-6 pt-5 leading-7 transition-all duration-300 text-base group-hover:text-dark"
          >
            <p class="text-pretty">
              What3words enhances car sales by providing precise location information
              in 3 simple words anyone can remember, making it easier for buyers to find
              vehicles on dealership lots or streets. This increased visibility attracts
              more potential buyers and streamlines the car-selling process.
            </p>
          </div>
        </div>
      </div>
      <div
        class="group relative overflow-hidden rounded-lg px-6 pb-8 pt-10 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:rounded-lg sm:px-10"
      >
        <span
          class="absolute top-10 z-0 h-20 w-20 rounded-full bg-primary transition-all duration-300 group-hover:scale-[15]"
        ></span>
        <div class="relative z-10 mx-auto max-w-md">
          <span
            class="grid h-20 w-20 place-items-center rounded-full bg-primary transition-all duration-300 group-hover:bg-primary"
          >
            <span class="h-20 w-20 text-white transition-all">🎥</span>
          </span>
          <h2
            class="mt-5 font-bold transition-all duration-300 text-2xl group-hover:text-dark"
          >
            Short Ads
          </h2>
          <div
            class="space-y-6 pt-5 leading-7 transition-all duration-300 text-base group-hover:text-dark"
          >
            <p class="text-pretty">
              Our @CAR4SAL3 TikTok showroom platform empowers sellers with dynamic
              CapCut short commercials and unique branded TikTok effects, enabling
              influencers to creatively promote a "Car 4 Sal3" listing. It also
              challenges followers to promote cars in exchange for rewards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
</style>
